#FRONTEND
# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/angular-advanced-frontend/dist
/angular-advanced-frontend/tmp
/angular-advanced-frontend/out-tsc
/angular-advanced-frontend/bazel-out

# Node
/angular-advanced-frontend/node_modules
/angular-advanced-frontend/npm-debug.log
/angular-advanced-frontend/yarn-error.log

# IDEs and editors
/angular-advanced-frontend/.idea/
/angular-advanced-frontend/.project
/angular-advanced-frontend/.classpath
/angular-advanced-frontend/.c9/
/angular-advanced-frontend/*.launch
/angular-advanced-frontend/.settings/
/angular-advanced-frontend/*.sublime-workspace

# Visual Studio Code
/angular-advanced-frontend/.vscode/*
/angular-advanced-frontend/!.vscode/settings.json
/angular-advanced-frontend/!.vscode/tasks.json
/angular-advanced-frontend/!.vscode/launch.json
/angular-advanced-frontend/!.vscode/extensions.json
/angular-advanced-frontend/.history/*

# Miscellaneous
/angular-advanced-frontend/.angular/cache
/angular-advanced-frontend.sass-cache/
/angular-advanced-frontend/connect.lock
/angular-advanced-frontend/coverage
/angular-advanced-frontend/libpeerconnection.log
/angular-advanced-frontend/testem.log
/angular-advanced-frontend/typings

# System files
/angular-advanced-frontend/.DS_Store
/angular-advanced-frontend/Thumbs.db

#BACKEND
/angular-advanced-backend/node_modules
/angular-advanced-backend/.idea
